.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  
  }

/* Links */
.footer-links {
  display: flex;
  gap: 1rem;
}

/* Responsivo para telas maiores */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-copy {
    order: 1;
  }

  .footer-links {
    order: 2;
  }
}
