main .container {
  background-color: var(--background-color);

  & img {
    object-fit: cover;
    aspect-ratio: 1;
    height: 21rem;
    width: 100%;
  }
}

@media (width >= 80em) {
  & main .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    & img {
      height: 17.875rem;
      width: 100%;
    }
  }
}
